@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic');
@import url('font-awesome.min.css');

/* * { border: 1px solid red; } */

html { height: 100%; }
/* cant scale with this */

body {
   color: white;  
   background-image: url("https://i.imgur.com/9WgJg0G.gif");
   height: auto;
   background-size: cover;
   /* background-repeat: no-repeat; */

 
}

canvas {
   /* grid-template-columns: repeat(10, 1fr); */
   border-radius: 10px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   /* border: 5px solid green; */
}

h1 {
   /* display: block;
   justify-content: center; */
     text-align: center;
     position: relative;
     top: 20px;
     
}

a {
   color: white;
   font-size: 50px;
   padding-left: 5px;
   padding-right: 5px;
}
.links {
   opacity: 0.8;
   position: absolute;
   left: 3.8%;
   top: 2%;
   padding: 5px 15px 5px 15px;
   border-radius: 10px;
   transform: rotate(2.7)deg;
   /* background-color: rgb(0, 0, 0, 0.7); */
}

.links a {
   display: block;
}

.directions {
   font-family: 'Anton', sans-serif;
   font-size: 20px;
   /* transform: rotate(1deg); */
   background-color: rgba(0,0,0,0.4);
   border-radius: 10px;
   position: absolute;
   width: 350px;
   height: 400px;
   top: 15.4%;
   left: 64%;
      text-align: center;
}

.instructions {
   color: white;
   font-size: 50px;
   position: absolute;
   top: -10%;
   left: 7%;
   width: 300px;
   display: inline-flex;
   justify-content: space-between;
}

.directiones {
   position: absolute;
   font-size: 40px;
   left: 10%;
   top: 22%;
   color: black;
   background-color: white;
      padding: 5px 15px 15px 15px;
   border-radius: 10px;
  box-shadow: 5px 5px;
   /* z-index: 1;
   text-shadow: 0px 0px 6px white; */
   
}

.directiones2 {
   position: absolute;
   font-size: 50px;
   top: 13%;
   left: 73%;

}

.arrow_keys {
   width: 300px;
display: flex;
justify-content: space-between;
position: absolute;
left:8%;
top: 40%;

}


.rotate {
    font-family: 'Anton', sans-serif;
      font-size: 20px;
      width: 90px;
   /* position: absolute;
   top: 0%;
   left: 42%; */
   display: block;
   position: absolute;
   left: 37%;
   top: 18%;
   /* width: 60px; */
   text-align: center;
   color: black;
   padding: 30px 15px 30px 15px;
   border-radius: 10px;
   background: white;
   box-shadow: 5px 5px;
}

.left {
      font-family: 'Anton', sans-serif;
      font-size: 20px;
      width: 90px;

   /* position: absolute;
   top: 40%;
   left: 25%; */
   /* height: 60px; */
   text-align: center;
     color: black;
   padding: 30px 15px 30px 15px;
   border-radius: 10px;
   background: white;
   box-shadow: 5px 5px;
}
.right {
   /* position: absolute;
   top: 40%;
   left: 75%; */

        font-family: 'Anton', sans-serif;
      font-size: 20px;
      width: 90px;
   /* width: 60px; */
   text-align: center;

     color: black;
   padding: 30px 15px 30px 15px;
   border-radius: 10px;
   background: white;
   box-shadow: 5px 5px;
}
.down {
   /* position: absolute;
   top: 40%;
   left: 45%; */
        font-family: 'Anton', sans-serif;
      font-size: 20px;
      width: 90px;
   /* width: 60px; */
   text-align: center;

     color: black;
   padding: 30px 15px 30px 15px;
   border-radius: 10px;
   background: white;
   box-shadow: 5px 5px;
}

.drop {

    font-family: 'Anton', sans-serif;
      font-size: 20px;
      /* width: 90px; */

   color:black;
   position: absolute;
   text-align: center;
   top: 75%;
   left: 2%;
   padding: 10px 150px 10px 150px;
      border-radius: 10px;
      box-shadow: 5px 5px;


   background-color: white;
}

.key_image {
   width: 300px;
   position: absolute;
   top: -50px;
   left: 0px;
}

.currentWordDiv {
   /* position: absolute; */
   width: 1000px;
   height: 100px;
   /* position: absolute; */
   vertical-align: middle;   
   text-align: center;
   position: relative; 
   left: 50%;
   transform: translateX(-50%);
   bottom: 30px;
   /* top: 85%;
   left: 15%; */
   /* background-color: rgb(1, 1, 1, 0.3); */
}

.currentWord {
   opacity: 1.0;
   color: white;
   text-align: center;
   font-family: 'Advent Pro', sans-serif;
   font-size: 40px;
   text-shadow: 2px 2px 4px #000000;   
}

.monologue {
font-family: 'Advent Pro', sans-serif;
font-size: 40px;
   position: absolute;
   top: 90%;
   left: 36%;
}





.rainbow {
   color: rgb(255, 255, 255, 0.8);
  font-size:50px;
   font-family: 'Bungee Shade', cursive;
}

.rainbow:hover {
-webkit-animation:rainbow 1s infinite;
-ms-animation:rainbow 1s infinite;
-o-animation:rainbow 1s infinite;
animation:rainbow 1s infinite;
}



@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}