body {
   /* background-image: url("giraffe.jpg"); 
   min-width: 100%;
   height: auto; */
   background-color: white;
}

canvas {
   margin-left: auto;
   margin-right: auto;
   display: block;
   border: 5px solid black;
}

